<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 message-key="angular.saml2.directives.settings.ma-settings.subtitle.saml2Setting"></h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="save()">
            <md-icon aria-label="accessibility"
                     class="material-icons step"
                     ng-class="md-18">save
            </md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-card flex="80" flex-offset="10" ng-cloak>
    <md-card-title>
        <md-card-title-text>
          <span class="md-headline"
                message-key="angular.saml2.directives.settings.ma-settings.subtitle.saml2Setting"></span>
            <a ng-click="metadata()" message-key="angular.saml2.directives.settings.ma-settings.openmetadata"/>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <md-checkbox ng-model="settings.enabled" aria-label="" ng-click="enable()">
            <span message-key="angular.saml2.directives.settings.ma-settings.enabled"></span>
        </md-checkbox>
        <md-input-container class="md-block md-input-has-placeholder" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.identityProviderMetadata"></label>
            <input onchange="angular.element(this).scope().fileNameChanged(this)" name="identityProviderMetadata"
                   type="file">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.relyingPartyIdentifier"></label>
            <input ng-model="settings.relyingPartyIdentifier">
        </md-input-container>
        <md-input-container class="md-block md-input-has-placeholder" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.keyStore"></label>
            <input onchange="angular.element(this).scope().fileNameChanged(this)" name="keyStore" type="file">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.keyStoreType"></label>
            <md-select ng-model="settings.keyStoreType">
                <md-option ng-repeat="(key, value) in settings.availableKeyStoreTypes" ng-value="key">
                    {{ value }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.keyStoreAlias"></label>
            <input ng-model="settings.keyStoreAlias">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.keyStorePass"></label>
            <input ng-model="settings.keyStorePass">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.privateKeyPass"></label>
            <input ng-model="settings.privateKeyPass">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.incomingTargetUrl"></label>
            <input ng-model="settings.incomingTargetUrl">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.postLoginPath"></label>
            <input ng-model="settings.postLoginPath">
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.maximumAuthenticationLifetime"></label>
            <input ng-model="settings.maximumAuthenticationLifetime">
        </md-input-container>
        <md-input-container class="md-block" flex>
        <md-checkbox ng-model="settings.forceAuth" ng-disabled="settings.passive" aria-label="" ng-click="enable()">
            <span message-key="angular.saml2.directives.settings.ma-settings.forceAuth"></span>
        </md-checkbox>
        <md-checkbox ng-model="settings.passive" ng-disabled="settings.forceAuth" aria-label="" ng-click="enable()">
            <span message-key="angular.saml2.directives.settings.ma-settings.passive"></span>
        </md-checkbox>
        </md-input-container>
        <md-input-container flex>
            <md-checkbox ng-model="settings.signAuthnRequest" aria-label="" ng-click="enable()">
                <span message-key="angular.saml2.directives.settings.ma-settings.signAuthnRequest"></span>
            </md-checkbox>
            <md-checkbox ng-model="settings.requireSignedAssertions" aria-label="" ng-click="enable()">
                <span message-key="angular.saml2.directives.settings.ma-settings.requireSignedAssertions"></span>
            </md-checkbox>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.bindingType"></label>
            <md-select ng-model="settings.bindingType">
                <md-option ng-repeat="(key, value) in settings.availableBindings" ng-value="key">
                    {{ value }}
                </md-option>
            </md-select>
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label message-key="angular.saml2.directives.settings.ma-settings.mapperName"></label>
            <md-select ng-model="settings.mapperName">
                <md-option ng-repeat="(key, value) in settings.availableMappers" ng-value="key">
                    {{ value }}
                </md-option>
            </md-select>
        </md-input-container>
    </md-card-content>
</md-card>
